.donation-alert-link {
  margin-bottom: 15px;
}
.nav-tabs {
  margin-bottom: 20px;
}
.navbar-donate-link {
  width: 40%;
  padding: 7px 15px;
  margin-right: -15px;
  margin-left: -15px;
}

/*# sourceMappingURL=dashboard.css.map */
