// Core variables and mixins
@import "../bower_components/bootstrap/less/variables.less";
@import "../bower_components/bootstrap/less/mixins.less";

// Core CSS
@import "../bower_components/bootstrap/less/forms.less";

* {
    .box-sizing(border-box);
}
*:before,
*:after {
    .box-sizing(border-box);
}

.row {
    .make-row();
}

.make-grid-columns();
.make-grid(sm);

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

html {
    display: table;
}

body {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background: #f1f4f9;
    color: #414a51;
    font-size: 12px;
}

.donation-wrapper {
    background: white;
    display: inline-block;
    width: 100%;
    max-width: 640px;
    text-align: left;

    .donation-header {
        height: 192px;
        max-height: 192px;
        background: #0099cc;
        padding: 10px;
        position: relative;
    }

    .donation-meta {
        color: white;
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
        background: rgba(0, 0, 0, .6);
        font-size: 30px;
        line-height: 35px;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .donation-body {
        padding: 10px 30px;
    }

    .donation-text {
        font-size: 20px;
        margin: 20px 0;
    }
}

.form-control {
    box-sizing: border-box;
}

.well {
    padding: 20px;
    background: none repeat scroll 0 0 rgb(240, 240, 240);
    border: 1px solid #ddd;
}

.form-group {
    label {
        color: gray;
        text-transform: uppercase;
    }
}

textarea.form-control{
    height: 100px;
    max-width: 100%;
}

@font-face {
    font-family: 'fontello';
    src: url('/fonts/fontello.eot?70372228');
    src: url('/fonts/fontello.eot?70372228#iefix') format('embedded-opentype'),
    url('/fonts/fontello.woff?70372228') format('woff'),
    url('/fonts/fontello.ttf?70372228') format('truetype'),
    url('/fonts/fontello.svg?70372228#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-rouble:before { content: '\e800'; }

.has-feedback label ~ .form-control-feedback {
    top: 20px;
}

.submit-btn {
    border: none;
    border-radius: 0;
    background: @brand-primary;
    color: white;
    padding: 12px 20px;
    font-size: 20px;
    cursor: pointer;
}