@import "default";

#alert-wrapper {
    width: 100%;
    height: 100%;
    display: table;
}

.donation-image-wrapper {
    display: table-row;
    text-align: center;
}

#donation-title,
#donation-message {
    display: table-row;
    text-align: center;
    font-family: 'Marmelad', sans-serif;
    font-size: 30px;
    color: white;
    text-shadow:
                -1px -1px 0 #000,
                1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}